body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 300px;
    background: white;
    padding: 20px;
    margin: 100px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

.note {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
}
.dashboard {
    width: 80%;
    margin: auto;
    text-align: center;
}

.card {
    background: white;
    padding: 15px;
    margin: 15px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
/* ===== Header ===== */
.header {
    background-color: #00ff2a;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* ===== Dashboard ===== */
.dashboard {
    width: 90%;
    margin: 30px auto;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    text-align: center;
}
